PORT=3000
DATABASE_NAME=your_database_name
DATABASE_USERNAME=your_database_username
DATABASE_PASSWORD=your_database_password
DATABASE_URL=your_cluster.mongodb.net
SESSION_SECRETS=your_secret_string_for_sessions
CORS=http://localhost:4000
